{
  "env": {
    "comment-1": "jest needs 'modules' option set to true (unlike the normal webpack config), ",
    "comment-2": "thus the need of being specific in a babelrc",
    "test": {
      "plugins": ["transform-runtime", "lodash"],
      "presets": ["env", "flow", "stage-3"],
      "retainLines": true
    }
  }
}
